force-app/main/default/flows/Opportunity_Trigger.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_Amount</name>
        <label>Assign Amount</label>
        <locationX>264</locationX>
        <locationY>695</locationY>
        <assignmentItems>
            <assignToReference>totalOppValue</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Related_Opps.Amount</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Related_Opps</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Count_Opportunities</name>
        <label>Assign Count Opportunities</label>
        <locationX>176</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>existingOpportunityCounts</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_Related_Opportunities</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_Type</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Type</name>
        <label>Assign Type</label>
        <locationX>176</locationX>
        <locationY>1031</locationY>
        <assignmentItems>
            <assignToReference>$Record.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>typeFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nameFormula</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Get_Account.Value_Closed_Deals__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>totalOppValue</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Account</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>nameFormula</name>
        <dataType>String</dataType>
        <expression>{!Get_Account.Name}+&quot; / &quot;+{!typeFormula}+&quot;_&quot;+TEXT(DAY({!$Record.CloseDate}))+&quot;-&quot;+TEXT(MONTH({!$Record.CloseDate}))+&quot;-&quot;+TEXT(YEAR({!$Record.CloseDate}))</expression>
    </formulas>
    <formulas>
        <name>typeFormula</name>
        <dataType>String</dataType>
        <expression>IF({!existingOpportunityCounts}&gt;1,&quot;Existing Cust&quot;,&quot;New Business&quot;)</expression>
    </formulas>
    <interviewLabel>Opportunity Trigger {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Opportunity Trigger</label>
    <loops>
        <name>Loop_Related_Opps</name>
        <label>Loop Related Opps</label>
        <locationX>176</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_Related_Opportunities</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assign_Count_Opportunities</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>176</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Opportunities</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Opportunities</name>
        <label>Get Related Opportunities</label>
        <locationX>176</locationX>
        <locationY>455</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Related_Opps</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StageName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed Won</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Account</name>
        <label>Update Account</label>
        <locationX>176</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Update_Opportunity</targetReference>
        </connector>
        <inputReference>Get_Account</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Opportunity</name>
        <label>Update Opportunity</label>
        <locationX>176</locationX>
        <locationY>1271</locationY>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Account</targetReference>
        </connector>
        <object>Opportunity</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>existingOpportunityCounts</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>totalOppValue</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
